#container-categories {
  overflow-x: scroll;

  #container-tasks {

    .col-category {
      float: left;
      padding: 0 15px;
      width: 270px;
      display: inline-block;
      vertical-align: top
    }

  }

}